<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Это авторский тур турагентства First Class (Фест Класс) в Бишкеке. Только проверенные отели, интересная программа, профессиональный гид, индивидуальный подход. Бронируйте места в группе!">
    <meta name="keywords" content="тур из Бишкека в Анталию">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>
      Тур из Бишкека в Анталию - First Class (Фест Класс)
    </title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
